# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*

# PlatformIO
.pio/
.platformio/
libdeps/

# Arduino
*.elf
*.bin
*.hex
*.map

# KiCad backups
*-backups/
*.kicad_prl
fp-info-cache

# Build outputs
build/
dist/
out/
